* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: url(code.png) no-repeat;
    background-position: center;
    background-size: cover;
}

#login-head {
    margin-bottom: 1em;
    text-shadow: 0px 0px 10px black;
}

#form {
    /* border: 2px solid white; */
    width: 20%;
    height: 30em;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    box-shadow: 0px 0px 50px 0px black;
    border-radius: 8px;
}

#form:hover
{
    background-color: rgba(0, 0, 0, 0.6);
    transition-duration: 0.6s;

}

.name {
    margin: 10px;
    width: 70%;
    height: 2.5em;
    text-decoration: none;
    border: none;
    outline: none;
    padding-left: 2%;
}

#loin {
    background-color: rgb(61, 53, 172);
    color: white;
}

#loin:hover
{
    background-color: rgb(37, 31, 122);
    transition-duration: 0.6s;
}

#fog {
    font-size: 1em;
    text-shadow: 0px 0px 10px black;
}

#form button {
    margin: 10px;
    width: 70%;
    height: 2.5em;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.media {
    /* border: 2px solid red; */
    width: 85%;
    height: 3em;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

form p {
    margin-top: 3%;
    margin-bottom: 3%;
    text-shadow: 0px 0px 10px black;
}

span {
    color: rgb(161, 91, 227);
    cursor: pointer;
}
span:hover
{
    text-decoration: underline;
}

.twit {
    background-color: rgb(119, 49, 162);
    color: white;
}

.twit:hover
{
    background-color: rgb(91, 27, 131);
    transition-duration: 0.6s;
}

.insta {
    background-color: rgb(216, 32, 127);
    color: white;
}
.insta:hover
{
    background-color: rgb(174, 20, 100);
    transition-duration: 0.6s;
}